@font-face {
  font-family: Metadannye;
  src: url('../fonts/Metadannye.ttf')
}

:root {
  --min-size-ship-placer: 404px;
  --turquoise: rgb(96, 181, 209);
  --button-color: #F0F0F0;
}

* {
  font-family: Metadannye;
}

body {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-rows: 10% 85% 5%;
  height: 100vh;

  background-color: rgb(57, 55, 55);
  color: white;
}

.unselectable {
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* non-prefixed version, Chrome, Edge, Opera and Firefox */
}

header {
  font-size: clamp(90px, 5.5vw, 300px);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161a1e;
}

main {
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
  gap: 5%;
  background-color: #1e2428;
}

/* turn board */
.turnBoardWrapper {
  display: grid;
  justify-content: center;
  align-items: last baseline;
}

.turnBoard {
  display: grid;
  place-content: center;

  border: 2px solid white;
  width: 14vw;
  height: 5vw;
  max-width: 380px;
  max-height: 100px;

  font-size: clamp(14px, 2vw, 50px);
}

/* ship placer */
.placeShips {
  border: 2px solid var(--turquoise);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;

  width: 30vw;
  height: 30vw;

  min-width: 404px;
  min-height: 361px;
}
.placeShips>div {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: clamp(36px, 3vw, 60px);
}
.ship {
  cursor: grab;
  overflow: visible;
}

div {
  overflow: visible;
}

/* fields */
.fieldWrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: start;
}

.field1, .field2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  width: 30vw;
  height: 30vw;


  min-width: 400px;
  min-height: 400px;
}

.field1>div, .field2>div {
  border-style: solid;
  border-width: 2px;
  border-color: #002B66;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2489DA;
  
  aspect-ratio: 1/1;
  min-width: 36px;
  min-height: 36px;
} 
.field1>div>div, .field2>div>div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 1400px) {
  .field1>div, .field2>div {
    border-width: 3px 2px;
  }
}
@media (min-width: 2000px) {
  .field1>div, .field2>div {
    border-width: 4px 2px;
  }
}

.field2>div {
  cursor: crosshair;
}

.field2>div:hover {
  background-color: purple;
}

.atTurn {
  opacity: 1;
}

.notAtTurn {
  opacity: 0.5;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161a1e;
}

.footerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.footerWrapper>p {
  font-family: 'Roboto', sans-serif;
}

#top {
  font-family: 'Roboto', sans-serif;
}
#top:hover {
  text-decoration: underline;
  color: #e8b464;
}

#github {
  cursor: pointer;
  width: 30px;
  transition: transform 0.3s ease;
}

#github:hover {
  transform: scale(1.2);
}

a:visited {
  color: white;
}

@keyframes color-change-green {
  0% {
    color: white;
    border-color: white;
  }
  50% {
    color: rgb(7, 166, 7);
    border-color: rgb(7, 166, 7);
  }
  100% {
    color: white;
    border-color: white;;
  }
}

.color-change-green {
  animation: color-change-green 1.5s infinite;
}

.hit-effect {
  transition: transform 0.2s ease-in-out, 
              background-color 0.2s ease-in-out; /* Use ease-in-out for smooth transitions */
  transform: scale(1.3); /* Increase size */
  background-color: red !important; /* Change color to red */
}


/* BUTTONS */
.startGameWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.startGame {
  width: clamp(100px, 10vw, 160px);
  height: clamp(40px, 4vw, 60px);
  font-size: clamp(20px, 2vw, 30px);

  cursor: pointer;

  border: 3px solid red;
  color: red;
  background-color: var(--button-color);
}

.placementWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 30vw;
  height: 30vw;

  min-width: 404px;
  min-height: 404px;

  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;   
}

.buttonLocation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid var(--turquoise);
  width: 30vw;
  height: 3vw;

  min-width: var(--min-size-ship-placer);
  min-height: 35px;
}

.buttonLocation>button {
  font-size: clamp(20px, 1.5vw, 60px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}


/* "?" DROPDOWN */
.questionMark {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30vw;
  height: 2vw;

  min-width: var(--min-size-ship-placer);
}

.icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--turquoise);
  border-radius: 50%;
  width: 1.5vw;
  height: 1.5vw;
  font-size: 1.5vw;
}

.content {
  display: none;
  position: absolute;
  background-color: var(--button-color);
  min-width: 5vw;
  color: black;
  box-shadow: 0px 0px 10px 3px rgba(0, 0 ,0 , 0.8);
  font-size: clamp(14px, 2vw, 28px);
}
